

   input[type=submit] {
    background-color: #00BFFF;
    color: #708090;
    padding: 12px 20px;
    /* border: none; */
    border-radius: 8px;
    cursor: pointer;
    float: center;
    width: 20%;
    border-color: #708090;
}

input[type=text] {
  border:none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;

}
.clearable-input {
  position: relative;
  display: inline-block;
  width:60%;
}
.clearable-input > input {
  padding-right: 1.4em;
}
.clearable-input >[data-clear-input] {
  display: none;
  position: absolute;
  top: 4px;
  left: 100%;
  font-weight: bold;
  font-size: 1.8em;
  padding: 0 0.2em;
  line-height: 1em;
  cursor: pointer;
  opacity:0.5;
}
.clearable-input > input::-ms-clear {
  display: none;
}
.container{
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	margin-top: 10%;
}
.intro{
	color: #708090	;
	font-size: 40px;
}
body{
	background-color: #DCDCDC;
    text-align:center;
    height:100%;
    padding-top:0.5%;
    margin-left:20px;
    margin-right:20px;
 }
 img{
 	border-radius:50%;
 	float: left;
 	height: 100px;
 	width: 100px;
 	background: white;
 }